body {
  background: #301638;
  font-family: 'Space Mono', monospace;
  color: #99a1b3;
}

h2 {
  font-size: 2vw;
}

.header {
  display: flex;
  align-self: stretch;
  padding-left: 20px;
  padding-right: 20px;
}

.header-text {
  width: 85%;
  margin-right: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 33%;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.text-box {
  border-left: 1px solid #99a1b3;
  border-right: 1px solid #99a1b3;
  padding: 20px;
}

.logo-box {
  margin-left: 10px;
  width: 4%;
}

.logo {
  width: 100%;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  .logo-box {
    width: 15%;
  }

  h2 {
    font-size: 5vw;
  }

  .content {
    width: 60%;
  }
}